<div id="blog" class="section">
            	<div class="section-header text-center">
            	<h2 class="title">Affiliations</h2>
                </div>

                <!-- blog -->
                <div class="row">
                <div class="col-md-4">
                    <div class="blog">
                        <div class="blog-img">
                            <a href="https://www.neuro.polymtl.ca/">
                                        <img class="img-responsive" src="{{ site.baseurl }}/assets/images/logo-neuropoly.png" alt="">
                            </a>
                        </div>
                        
                    </div>
                </div>
                <!-- /blog -->

                <!-- blog -->
                <div class="col-md-4">
                    <div class="blog">
                        <div class="blog-img">
                            <a href="http://www.polymtl.ca/">
                                        <img class="img-responsive"  src="{{ site.baseurl }}/assets/images/polymtl-logo.png" alt="">
                                    </a>
                        </div>
                    </div>
                </div>
                <!-- /blog -->

                <!-- blog -->
                <div class="col-md-4">
                    <div class="blog">
                        <div class="blog-img">
                            <a href="https://www.neuro.polymtl.ca/">
                                        <img class="img-responsive" src="{{ site.baseurl }}/assets/images/montreal-heart-institute.png" alt="">
                                    </a>
                        </div>
                    </div>
                </div>
                <!-- /blog -->

                <!-- blog -->
                <div class="col-md-4">
                    <div class="blog">
                        <div class="blog-img">
                            <a href="https://www.icm-mhi.org/en/montreal-heart-institute">
                                        <img class="img-responsive"  src="{{ site.baseurl }}/assets/images/udm-logo.png" alt="">
                                    </a>
                        </div>
                    </div>
                </div>
                </div>

    </div>
    <!-- /Affiliations -->
