<div id="affiliations" class="section">
            	<div class="section-header text-center">
            	<h2 class="title">Affiliations</h2>
                </div>
                <div class="row">
                  {% for affiliation in site.data.affiliations %}
                  <!-- affiliation-logo -->
                <div class="col-md-4">
                    <div class="affiliation-logo">
                        <div class="img-responsive">
                            <a href="{{ affiliation.web }}">
                                        <img class="img-responsive" src="{{ site.baseurl }}/assets/images/{{ affiliation.image }}" alt="">
                            </a>
                        </div>

                    </div>
                </div>
                <!-- /affiliation-logo -->
                {% endfor %}

          </div>
    </div>
    <!-- /Affiliations -->
