<div id="about" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <p style="font-size:36px; font-weight: bold; color:black; padding-bottom:10px;">Welcome to qMR<span style="color:red;background-color: #fbdddb ;opacity: 0.9;">Lab</span>
                  </p>
                    <p>
                        <h3 style="text-align: center; color:#868F9B">qMRLab is a MATLAB/Octave open-source software for quantitative MR image analysis.</h2>

                           <p>The main goal of the qMRLab project is to provide the community with software that makes data fitting, simulation and protocol optimization as easy as possible for a myriad of different quantitative models. <p>

                          <p>We are working hard to sustain a scalable codebase and to encourage everyone to contribute their favorite recipe for qMR.</p>

                    </p>
                </div>
                <!-- /Section header -->

                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-flask"></i>
                        <h3>Simulate</h3>
                        <p>Explore qMRI methods with the simulation tools. </p>
                        <p>Generate syntetic data to evaluate how models perform with a given set of parameters. Determine the acquisition protocol that works best for your application. Evaluate how fitting constraints impact the results.</p>
                        <a href="https://qmrlab.readthedocs.io/en/master/introduction.html#data-simulator"> Read more </a>
                    </div>
                </div>
                <!-- /about -->

                <!-- about -->
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-magic"></i>
                        <h3>Fit</h3>
                        <p>Create your quantitative maps via GUI (graphical user interface) or CLI (command-line interface).</p>

                          <p>Intuitively designed interfaces allow you to seamlessly import real-world qMR data, set acquisition parameters and customize fitting options. You can save your fitting session and share it with others to reproduce outputs.</p>
                    <a href="https://qmrlab.readthedocs.io/en/master/gui-example.html"> Read more </a>
                    </div>
                </div>
                <!-- /about -->

                <!-- about -->
                <a href="https://qmrlab.readthedocs.io/en/master/introduction.html#data-fitting-and-visualization">
                <div class="col-md-4">
                    <div class="about">
                        <i class="fa fa-eye"></i>
                        <h3>Visualize</h3>
                        <p>The GUI provides sanity checks and tools for inspecting the results.</p>

                          <p>Navigate through the quantitative maps using the embedded volume viewer and check the data fits for selected voxels. Get statistics for the regions that you would like to inspect.</p>

                    </div>
                </div>
                </a>
                <!-- /about -->


            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /About -->
