<div id="home-pc" class="home-pc" style="margin-top: 5%;">
  <div class="bg-img">
      <div class="overlay"></div>
  </div>
  <!-- /Background Image -->
  <!-- home wrapper -->
      <div class="container">
          <div class="row">

              <!-- home content -->
              <div style="margin: auto; width:50%;">
                  <center>
                      <span class="white-text2"><img src="{{ site.baseurl }}/assets/images/icon2.png" style="width: 2.2em;"/>qMR<span style="color:red;background-color: #fbdddb ;opacity: 0.9;">Lab</span>
                    </span>
                       <h4 class="white-text">Quantitative MRI. Under one umbrella.</h4>
                       <div id="download-top">
                      <a href="https://github.com/qMRLab/qMRLab/archive/v2.4.1.zip"><button id="dwn-btn" class="btn" style="background-color:#fe2b07;color:white;">Download</button></a>
                      <a href="#about">   <i id="scroll-d" class="fas fa-arrow-circle-down"></i></a>
                    </div>
                  </center>
              </div>
              <!-- /home content -->

          </div>
  </div>
  <!-- /home wrapper -->
</div>

<section id="home">
        <!-- Background Image -->
        <div class="bg-img">
                 <div id="contentContainer" class="trans3d">
    <section id="carouselContainer" class="trans3d">
      {% for item in site.data.carousel %}
      <!--carouselItem -->
          <figure id="item{{ forloop.index }}" class="carouselItem trans3d"><div class="carouselItemInner trans3d"><img src="{{ site.baseurl }}/assets/images/{{ item.image }}.png"><font style="color:{{item.color}};">{{item.label}}</font></div></figure>
  <!-- /carouselItem -->
      {% endfor %}

    </section>
    </div>
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->
        <!-- home wrapper -->
        <div id="home_wrap" class="home-wrapper">
            <div class="container">
                <div class="row">

                    <!-- home content -->
                    <div style="margin: auto; width:50%;">
                        <div class="home-content">
                          <div id="text-logo">
                            <span class="white-text2"><img src="{{ site.baseurl }}/assets/images/icon2.png" style="width: 2.2em;"/>qMR<span style="color:red;background-color: #fbdddb ;opacity: 0.9;">Lab</span>
                          </span>
                             <h4 class="white-text">Quantitative MRI. Under one umbrella.</h4>
                           </div>
                           <div id="download-button">
                            <a href="https://github.com/qMRLab/qMRLab/archive/v2.4.1.zip"><button id="dwn-btn" class="btn" style="background-color:#fe2b07;color:white;">Download</button></a>
                            <a href="#about">   <i id="scroll-d" class="fas fa-arrow-circle-down" ></i></a>
                          </div>

                        </div>
                    </div>
                    <!-- /home content -->

                </div>
            </div>
        </div>
        <!-- /home wrapper -->

</section>
