<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
<link rel="icon" href="{{ site.baseurl }}/assets/images/logo.png">
    
<title>{{ page.title }} | {{site.name}}</title>
    
{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %} 
    
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    
<link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
    
<link href="{{ site.baseurl }}/assets/css/screen.css" rel="stylesheet">
    
<link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

    

    <!-- Owl Carousel -->
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.carousel.css" />
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.theme.default.css" />

    <!-- Magnific Popup -->
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/css/magnific-popup.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
    
    
    
    <style>
    .trans3d
    {
        -webkit-transform-style: preserve-3d;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform-style: preserve-3d;
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform-style:preserve-3d;
        -ms-transform: translate3d(0, 0, 0);
        transform-style:preserve-3d;
        transform: translate3d(0, 0, 0);

        /*-webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility:hidden;
        backface-visibility:hidden;*/
    }
    
    #contentContainer
    {
        position:absolute;
        margin-left:-500px;
        margin-top:-500px;
        left:50%;
        top:50%;
        width:1000px;
        height:1000px;
    }
    
    #carouselContainer
    {
        position:absolute;
        margin-left:-500px;
        margin-top:-500px;
        left:50%;
        top:50%;
        width:1000px;
        height:1000px;
    }
    
    .carouselItem
    {
        width:320px;
        height:130px;
        position:absolute;
        left:50%;
        top:50%;
        margin-left:-160px;
        margin-top:-90px;
        visibility:hidden;
    }
    
    .carouselItemInner
    {
        width:320px;
        height:220px;
        position:absolute;
        background-color:rgba(255, 255, 255, .75);
        border:10px solid rgba(255, 255, 255, .5);
        color:red;
        font-size:72px;
        left:50%;
        top:50%;
        margin-left:-160px;
        margin-top:-90px;
        text-align:center;
        /*padding-top:50px;*/
        
    }
</style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    
</head>
    
{% if jekyll.environment == 'production' %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{site.google_analytics}}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
    
{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ layout }}">

    
<!-- Begin Menu Navigation
================================================== -->
<nav class="navbar navbar-expand-lg navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
    
    <div class="container pr-0">    
    
    <!-- Begin Logo -->
    <a class="navbar-brand" href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
    </a>
    <!-- End Logo -->
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    
    
    <div  id="navbarMediumish">
       
       <!-- Begin Menu -->
        
            <ul class="navbar-nav ml-auto">
                
                {% if page.url == "/" %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="{{ site.baseurl }}/index.html">Home</a>
                </li>
                
                {% if page.url == "/blog.html" %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="{{ site.baseurl }}/blog.html">Blog</a>
                </li>


                <li class="nav-item">
                <a class="nav-link" href="https://qmrlab.readthedocs.io/en/master/"> Documentation</a>
                </li>
                
               <li class="open" style="position:relative;padding-top: 2%;font-size: 0.85rem;color:gray;font-family: inherit;"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Development<span class="caret"></span></a>
                
                
                <li class="nav-item">
                <a class="nav-link" href="https://github.com/neuropoly/qMRLab/archive/master.zip"><i class="fas fa-download"></i> Download</a>
                </li>
                
                
            </ul>       
  
        <!-- End Menu -->

    </div>
        
    </div>
</nav>
<!-- End Navigation
================================================== -->
    
<div class="site-content">   
<div class="container">

    
    
<!-- Content
================================================== --> 
<div class="main-content">
    {{ content }}
</div> 
    
</div><!-- /.container>
 


<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                 Copyright © {{ site.time | date: "%Y" }} {{ site.name }} 
            </div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">    
                <a target="_blank" href="https://www.wowthemes.net">Mediumish Theme</a> by WowThemes.net, and
                <a href="https://colorlib.com" target="_blank">Creative agency</a> by Colorlib</a>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->

   
</div> <!-- /.site-content>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
    
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/main.js"></script>
    
    
    <script type="text/javascript">
// set and cache variables
        var w, container, carousel, item, radius, itemLength, rY, ticker, fps; 
        var mouseX = 0;
        var mouseY = 0;
        var mouseZ = 0;
        var addX = 0;
        
        
        // fps counter created by: https://gist.github.com/sharkbrainguy/1156092,
        // no need to create my own :)
        var fps_counter = {
            
            tick: function () 
            {
                // this has to clone the array every tick so that
                // separate instances won't share state 
                this.times = this.times.concat(+new Date());
                var seconds, times = this.times;
        
                if (times.length > this.span + 1) 
                {
                    times.shift(); // ditch the oldest time
                    seconds = (times[times.length - 1] - times[0]) / 1000;
                    return Math.round(this.span / seconds);
                } 
                else return null;
            },
 
            times: [],
            span: 20
        };
        var counter = Object.create(fps_counter);
        
        
        
        $(document).ready( init )
        
        function init()
        {
            w = $(window);
            container = $( '#contentContainer' );
            carousel = $( '#carouselContainer' );
            item = $( '.carouselItem' );
            itemLength = $( '.carouselItem' ).length;
            fps = $('#fps');
            rY = 360 / itemLength;
            radius = Math.round( (250) / Math.tan( Math.PI / itemLength ) );
            
            // set container 3d props
            TweenMax.set(container, {perspective:600})
            TweenMax.set(carousel, {z:-(radius)})
            
            // create carousel item props
            
            for ( var i = 0; i < itemLength; i++ )
            {
                var $item = item.eq(i);
                var $block = $item.find('.carouselItemInner');
                
        //thanks @chrisgannon!        
        TweenMax.set($item, {rotationY:rY * i, z:radius, transformOrigin:"50% 50% " + -radius + "px"});
                
                animateIn( $item, $block )                      
            }
            
            // set mouse x and y props and looper ticker
            window.addEventListener( "mousemove", onMouseMove, false );
            ticker = setInterval( looper, 1000/60 );            
        }
        
        function animateIn( $item, $block )
        {
            var $nrX = 360 * getRandomInt(2);
            var $nrY = 360 * getRandomInt(2);
                
            var $nx = -(2000) + getRandomInt( 4000 )
            var $ny = -(2000) + getRandomInt( 4000 )
            var $nz = -4
            000 +  getRandomInt( 4000 )
                
            var $s = 1.5 + (getRandomInt( 10 ) * .1)
            var $d = 1 - (getRandomInt( 8 ) * .1)
            
            TweenMax.set( $item, { autoAlpha:1, delay:$d } )    
            TweenMax.set( $block, { z:$nz, rotationY:$nrY, rotationX:$nrX, x:$nx, y:$ny, autoAlpha:0} )
            TweenMax.to( $block, $s, { delay:$d, rotationY:0, rotationX:0, z:0,  ease:Expo.easeInOut} )
            TweenMax.to( $block, $s-.5, { delay:$d, x:0, y:0, autoAlpha:1, ease:Expo.easeInOut} )
        }
        
        function onMouseMove(event)
        {
            mouseX = -(-(window.innerWidth * .5) + event.pageX) * .0025;
            mouseY = -(-(window.innerHeight * .5) + event.pageY ) * .01;
            mouseZ = -(radius) - (Math.abs(-(window.innerHeight * .5) + event.pageY ) - 200);
        }
        
        // loops and sets the carousel 3d properties
        function looper()
        {
            addX += .25
            TweenMax.to( carousel, 1, { rotationY:addX, rotationX:0, ease:Quint.easeOut } )
            TweenMax.set( carousel, {z:-700 } )
            fps.text( 'Framerate: ' + counter.tick() + '/60 FPS' )  
        }
        
        function getRandomInt( $n )
        {
            return Math.floor((Math.random()*$n)+1);    
        }
</script>
    
    
    
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    
<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>
    
<script src="{{ site.baseurl }}/assets/js/mediumish.js"></script>
    
<script id="dsq-count-scr" src="//{{site.disqus}}.disqus.com/count.js"></script>


</body>
</html>
